Requirments for Battleship Program developed by Dain Harmon and Addelina Mitchell

- Board object, two-dimensional vector of strings forming a 10 by 10 grid, init with " ~" (because it looks like water, the space is there for visual formatting of the board)
-- Unit Test Exists: Passes


- Each board object contains 2 boards: one to hold ships and one to hide the ships from the opponent
-- Unit Test Exists: Passes


- Users must be able to place ships in board
-- Unit Test Exists: Passes


- Users must not be able to scroll up to see opponent's board setup
-- Manual Interface Test: Passes


- Input handling must be robust (there's a kitten walking on the keyboard)
-- Manual Interface Test: Passes


- Users must be able to attack a target point of their choice as the rules allow
-- Unit Test Exists: Passes
-- Manual Interface Test: Passes


- X's must show on board the opponent sees to indicate a hit, O's for a miss
-- Unit Test Exists: Passes
-- Manual Interface Test: Passes


- Must be able to print both boards in a board object
-- Manual Interface Test: Passes


- Users must be notified of hit, miss, and sink
-- Manual Interface Test: Passes


- Must display rules, cannot assume they know the game but will assume that they read and understand English
-- Manual Interface Test: Passes


- Ships cannot be allowed to overlap
-- Manual Interface Test: Passes


- Ships cannot be either partially or fully out of bounds
-- Manual Interface Test: Passes


- Must be winnable; there must be a victor
-- Unit Test Exists: Passes
-- Manual Interface Test: Passes


- Must be 5 ships: carrier (5), battleship (4), cruiser (3), submarine (3), destroyer (2)
-- Manual Interface Test: Passes


- Must be able to differentiate between cruiser and submarine
-- Manual Interface Test: Passes